<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.samples.mybatis.mappers.PacienteMapper">

    <resultMap type='Paciente' id='datosPaciente'>
        <id property='id' column='id'/>
        <result property='tipo_id' column='tipo_id'/>
        <result property='nombre' column='nombre'/>
        <result property='fechaNacimiento' column='fecha_nacimiento'/>
        <collection property='consultas' ofType='ConsultasPaciente'></collection>
    </resultMap>
    <resultMap type='Consulta' id='consultaResult'>
        <id property='id' column='idCONSULTAS'/>
        <result property='fechayHora' column='fecha_y_hora'/>
        <result property='resumen' column='resumen'/>        
    </resultMap>
                                                                                                
</mapper>